/* body {
    color: #fff;
    background-color: #11A27B;
} */

.stButton>button{
    /*color: #11A27B;
    box-sizing: 5%;
    height: 5em;
    width: 5em;
    font-size:50px;
    border: 7px solid;
    border-radius: 10px;
    padding: 30px;*/
    width: 100%;
    padding-bottom: 0.5em;
    /* visibility: hidden; */
}

/* .stTextInput>div>div>input {
    color: #000000;
} */

/* .fullScreenFrame > div {
    display: flex;
    justify-content: center;
} */

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */


