/* body {
    color: #fff;
    background-color: #11A27B;
} */

.stButton>button {
    /*color: #11A27B;
    box-sizing: 5%;
    height: 5em;
    width: 5em;
    font-size:50px;
    border: 7px solid;
    border-radius: 10px;
    padding: 30px;*/
    width: 100%;
    padding-bottom: 0.5em;
    /* visibility: hidden; */
}

/* .stTextInput>div>div>input {
    color: #000000;
} */

/* .fullScreenFrame > div {
    display: flex;
    justify-content: center;
} */

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */


/* .element-container  .stMarkdown{
    background-color: blueviolet;
  } */

/* .fa-li {
      left: calc(var(--fa-li-width, 2em)*-1);
      position:fixed;
      text-align: center;
      width: var(--fa-li-width, 2em);
      line-height: inherit;
  } */


.stMarkdown h1, h2 {
    /* background-color: aqua; */
    padding-top: 0px;
    padding-bottom: 0px;
}

.stMarkdown p, ol, ul, dl {
    /* background-color: aqua; */
    margin-bottom: 5px;
}

.stMarkdown li {
    /* background-color: aqua; */
    margin-bottom: 5px;
    /* list-style: none; */
}

.stMarkdown hr {
    /* background-color: red; */
    /* padding-top: 0px;
       padding-bottom: 0px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

 .stMarkdown ul {
    /* list-style-type: none; */
    padding-left: 8px;
    /* color: #666; */
}

/*
.stMarkdown li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px
}

.stMarkdown li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: "\f058";
    color: green;
} */







/* hide footer */
footer {
    visibility: hidden;
}
